* {
  font-family: Questrial, sans-serif;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 800px) {
  #logo {
    width: 50%;
  }
  #navfab {
    display: none;
  }
  #mast {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 2vw;
    left: 2vw;
    padding: 0.5vw;
    height: 3vw;
    width: 24vw;
    border-radius: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #mast img {
    width: 15%;
    margin: 1vw;
  }
  #mast h1 {
    color: white;
    font-size: 1.5vw;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .dropdown {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2vw;
    left: -0.5vw;
    overflow: scroll;
    padding: 0.5vw;
    max-height: 80vh;
  }
  .dropdown .dropbtn {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 0.5vw;
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0.5vw;
    font-size: 0.5vw;
    white-space: nowrap;
    border-radius: 1.5vw;
  }
  .navbar {
    position: fixed;
    top: 2vw;
    right: 2vw;
    padding: 0.5vw;
    height: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5vw;
  }
  .navbar .navbtn {
    font-size: 0.7vw;
    position: relative;
    margin-right: 1vw;
    text-align: center;
    margin-left: 1vw;
  }
  .navbar .navbtn h1 {
    color: white;
  }
  .navbar .navbtn h1:hover {
    color: #ff9999;
  }
  .navbar .navbtn:hover .dropdown {
    visibility: visible;
    opacity: 1;
    overflow-y: scroll;
    -webkit-transform: translateY(1vw);
            transform: translateY(1vw);
  }
}

@media screen and (max-width: 800px) {
  #logo {
    height: 50%;
    margin-bottom: 10vw;
  }
  #mast {
    display: none;
  }
  #navfab {
    width: 80px;
    height: 80px;
    z-index: 4;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navfab div {
    width: 60%;
    border-radius: 0.5vw;
    height: 10%;
    margin: 0.5vw;
    background-color: white;
  }
  #navfab:hover div {
    background-color: rgba(255, 255, 255, 0.8);
  }
  a {
    color: black;
    text-decoration: none;
  }
  .dropdown {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-4vw);
            transform: translateY(-4vw);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2vw;
    left: -0.5vw;
    overflow: scroll;
    padding: 0.5vw;
    max-height: 80vh;
  }
  .dropdown .dropbtn {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 0.5vw;
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0.5vw;
    font-size: 0.5vw;
    white-space: nowrap;
    border-radius: 1.5vw;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5vw;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5vw;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transform: translate(-105vw);
            transform: translate(-105vw);
  }
  .navbar .navbtn {
    font-size: 3vw;
    position: relative;
    margin-right: 1vw;
    text-align: center;
    margin-left: 1vw;
  }
  .navbar .navbtn h1 {
    color: white;
  }
  .navbar .navbtn h1:hover {
    color: #ff9999;
  }
  .navbar .navbtn:hover {
    /*
                .dropdown{
                    visibility: visible;
                    opacity: 1;
                    overflow-y: scroll;
                    transform: translateY(1vw);
                }
                */
  }
}
/*# sourceMappingURL=global.css.map */