
@media screen and (min-width: 800px){
    .page{

        display: flex;
        width: 95vw;
        height: 95vh;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        div{
            width: 25%;

            h1{
                font-size: 2.5vw;
                line-height: 2.8vw;
                color: white;
                margin: 0;
                text-shadow: 0px 5px 20px rgba(black, 0.4);
            }
            h2{
                font-size: 1.2vw;
                line-height: 1.5vw;
                color: rgba(white, 0.8);
                text-shadow: 0px 5px 20px rgba(black, 0.4);
            }
            span{
                background-color: rgba(black, 0.5);
                padding: 0.2vw;
                border-radius: 0.5vw;
            }

        }
    }

    .left{
        text-align: left;
    }

    .right{
        text-align: right;
    }

}


@media screen and (max-width: 800px){
    .page{

        display: flex;
        width: 95vw;
        height: 82vh;
        margin: auto;
        margin-top: 3vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        div{
            width: 90%;
            text-align: center;
            background-color: rgba(black, 0.2);
            padding: 2vw;
            border-radius: 3vw;

            h1{
                font-size: 5vw;
                line-height: 6vw;
                color: white;
                margin: 0;
                text-shadow: 0px 5px 20px rgba(black, 0.4);
            }
            h2{
                font-size: 3vw;
                color: rgba(white, 0.7);
                text-shadow: 0px 5px 20px rgba(black, 0.4);
            }

        }
    }
}

